@import "left.scss";
@import "right.scss";
@import "home.scss";
@import "var.scss";
@import "tweet.scss";
@import "login.scss";
@import "signin.scss";
@import "logo.scss";
@import "reply.scss";
@import "profil.scss";
@import "chat.scss";
@import "chatAuthor.scss";
@import "tweetForm.scss";
@import "follower.scss";
@import "following.scss";
@import "modal.scss";
@import "editProfil.scss";


@font-face {
    font-family: "first";
    src: url("/src/font/ABeeZee-Regular.ttf");
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: $bg-color;
    font-family: "first";
}