.chatAuthorCard{
    height: 100vh;
    width: 30vw;
    position: fixed;
    left: 20%;
    border-right: 1px solid $border-color;
    .vosMP{
        width: 100%;
        height: 10%;
        display: grid;
        place-items: center;
    }
    .author{
        width: 100%;
        min-height: 90vh;
        height: 500px;
        overflow-x: hidden;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            text-decoration: none;
            width: 85%;
            .chat-author-div{
                display: flex;
                align-items: center;
                height: 75px;
                border-bottom: 1px solid $border-color;
                .author-left{
                    display: grid;
                    place-items: center;
                    flex: 1;
                    .author-chat-pp{
                        width: 50px;
                        height: 50px;
                        border: 1px solid $border-color;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 50%;
                    }
                }
                .author-right{
                    flex: 2;
                    color: black;
                }
            }
        }
    }
}