.edit-modal{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1001;
    width: 500px;
    height: 70vh;
    background-color: $qin;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    .edit-modal-head{
        position: relative;
        width: 90%;
        height: 50px;
        #close-edit{
            cursor: pointer;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: none;
            border: none;
            font-size: 20px;
        }
        #save{
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            border: none;
            border-radius: 10px;
            outline: none;
            background-color: $secondary;
            color: white;
            padding: 7px;
        }
        p{
            text-align: center;
        }
    }
    .edit-modal-body{
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        .change{
            border: 1px solid $border-color;
            width: 90%;
            margin-top: 20px;
            margin-bottom: 20px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            padding: 10px;
            color: grey;
            &.change-pseudo{
                input{
                    outline: none;
                    border: none;
                    background: none;
                    padding: 10px;
                }
            }
            &.change-bio{
                textarea{
                    outline: none;
                    border: none;
                    background: none;
                    padding: 10px;
                    min-height: 300px;
                    max-height: 300px;
                    min-width: 95%;
                    max-width: 95%;
                }
            }
            &.change-pp{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                min-height: 200px;
                .user-pp-img{
                    width: 75px;
                    height: 75px;
                    border: 1px solid $border-color;
                    border-radius: 50%;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                input[type="file"]::-webkit-file-upload-button {
                    left: 0;
                    padding: 7px;
                    background-color: $quaternary;
                    color: #fff; 
                    border: none; 
                    border-radius: 5px; 
                    cursor: pointer; 
                }
            }
        }
    }
}
.modal-ich-ich{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.4;
    top: 0;
    z-index: 1000;
}