@import "var.scss";
.right{
    border-left: 1px solid $border-color;
    background-color: $bg-color;
    min-height: 100vh;
    width: $sideW;
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .tendance{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50vh;
        width: 100%;
        color: rgb(0, 0, 0);
        .tend-head{
            width: 100%;
            display: grid;
            place-items: center;
            border-bottom: 1px solid $border-color;
            font-weight: bold;
        }
        .tend-card{
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .user-search{
                height: 50px;
                display: grid;
                place-items: center;
                width: 75%;
                input{
                    width: 100%;
                    border: none;
                    outline: none;
                    padding: 7px;
                    border-radius: 10px;
                    background-color: $bg-field;
                }
            }
            .user-search-result{
                position: absolute;
                bottom: 0;
                overflow-x: hidden;
                overflow-y: auto;
                width: 100%;
                height: 1px;
                min-height: 80%;
                display: flex;
                flex-direction: column;
                align-items: center;
                a{
                    width: 100%;
                    .user-search-div{
                        display: flex;
                        align-items: center;
                        width: 100%;
                        height: 50px;
                        border-bottom: 1px solid $border-color;
                        .user-search-pp{
                            flex: 1;
                            display: grid;
                            place-items: center;
                            .the-fameuse-pp{
                               height: 30px;
                               width: 30px;
                               border-radius: 50%;
                               border: 1px solid $border-color;
                               background-repeat: no-repeat;
                               background-size: cover;
                            }
                        }
                        .user-search-name{
                            display: grid;
                            place-items: center;
                            flex: 2;
                        }
                    }
                }
            }
        }
    }
    .sugg{
        border-top: 1px solid $border-color;
        height: 50vh;
        width: 100%;
        .sugg-head{
            text-align: center;
            font-weight: bold;
        }
        .sugg-render{
            margin-top: 50px;
            height: 1px;
            min-height: 300px;
            width: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            .suggTrue{
                width: 100%;
                height: 100%;
                .rand-user{
                    width: 100%;
                    height: 75px;
                    border-bottom: 1px solid $border-color;
                    display: flex;
                    a{
                        flex: 1;
                        height: 100%;
                        display: grid;
                        place-items: center;
                        .rand-user-left{
                            .rand-user-pp{
                                height: 35px;
                                width: 35px;
                                border-radius: 50%;
                                border: 1px solid $border-color;
                                background-repeat: no-repeat;
                                background-size: cover;
                            }
                        }
                    }
                    .rand-user-center{
                        display: grid;
                        place-items: center;
                        flex: 2;
                        height: 100%;
                    }
                    .rand-user-right{
                        display: grid;
                        place-items: center;
                        flex: 1;
                        height: 100%;
                        color: $quaternary;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}