.tweet-filtre{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 2;
    .tweet-form{
        height: 320px;
        width: 500px;
        background-color: $bg-color;
        border-radius: 17px;
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 1000;
        display: flex;
        flex-direction: column;
        align-items: center;
        .tweet-head{
            flex: 0.5;
            width: 100%;
            position: relative;
            display: grid;
            place-items: center;
            .tweet-head-sous{
                display: flex;
                align-items: center;
                width: 90%;
                .tweetformquit{
                    border: none;
                    background: none;
                    font-size: 20px;
                    color: $mini-text-color;
                    cursor: pointer;
                }
                p{
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
        .tweet-body{
            flex: 2;
            position: relative;
            width: 100%;
            background-color: $bg-color;
            display: flex;
            .tweet-body-pp{
                flex: 0.25;
                padding: 20px;
                .pp{
                    float: right;
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    border: 1px solid $border-color;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
            .tweet-body-content{
                flex: 2;
                padding-top: 20px;
                textarea{
                    width: 90%;
                    height: 95%;
                    background: none;
                    border: 1px solid $border-color;
                    outline: none;
                }
            }
        }
    }
    .tweet-form-valid{
        position: relative;
        display: grid;
        place-items: center;
        flex: 0.5;
        width: 75%;
        button{
            border: none;
            border-radius: 5px;
            width: 80px;
            height: 30px;
            cursor: pointer;
            color: white;
            background-color: $tertiary;
        }
        .nbr-char{
            position: absolute;
            right: 0;
            &.green{
                color: green;
            }
            &.yellow{
                color: yellow;
            }
            &.orange{
                color: orange;
            }
            &.red{
                color: red;
            }
        }
        input[type="file"]::-webkit-file-upload-button {
            position: absolute;
            left: 0;
            padding: 12px;
            background-color: #4CAF50; /* Changer la couleur de fond du bouton */
            color: #fff; /* Changer la couleur du texte du bouton */
            border: none; /* Supprimer la bordure du bouton */ /* Ajouter un peu de remplissage pour une meilleure apparence */
            border-radius: 5px; /* Ajouter un arrondi aux coins du bouton */
            cursor: pointer; /* Changer le curseur de la souris au survol */
          }
          
    }
}