.tweet{
    margin-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid $border-color;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .tweet-center{
        width: 70%;
        height: 100%;
        .tweetHead{
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex: 0.2;
            width: 100%;
            .pp{
                height: 50px;
                width: 50px;
                background-color: red;
                border-radius: 50%;
            }
        }
        .tweetBody{
            flex: 2;
            width: 100%;
            height: 100%;
            .content{
                margin-top: 50px;
            }
            .tweet-picture{
                background-color: grey;
                width: 100%;
                min-height: 250px;
                margin-top: 25px;
            }
            .tweet-actions{
                display: flex;
                justify-content: space-around;
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }
    }
}