$sideW: 20vw;
$bg-color: #ffffff;
$error: red;
$good: green;
$bg-field: #F0F0F0;
$text-color: black;
$mini-text-color: #7180B9;
$border-color: rgb(0,0,0,0.2);

//charte

$primary : #171738;
$secondary : #2E1760;
$tertiary : #3423A6;
$quaternary : #7180B9;
$qin : #DFF3E4;

//img
