.left {
  background-color: aqua;
  min-height: 100vh;
  height: 100%;
  width: 20vw;
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left .left-bottom {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}
.left .left-bottom .sous {
  width: 100%;
  height: 100%;
}
.left .left-bottom .sous .profil {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left .left-bottom .sous .profil .user-profil {
  cursor: pointer;
  text-align: center;
}
.left .left-bottom .sous .profil .user-profil .photo {
  background-color: rgb(151, 39, 39);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.right {
  background-color: black;
  min-height: 100vh;
  width: 20vw;
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right .tendance {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  width: 100%;
  border-bottom: 1px solid white;
  color: white;
}
.right .sugg {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  color: white;
}

.homepage {
  position: absolute;
  transform: translateX(50%);
  min-height: 100vh;
  width: 50vw;
  background-color: rgb(0, 255, 26);
}

.tweet {
  border: 1px solid black;
  min-height: 200px;
}
.tweet .tweetHead {
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}
.tweet .tweetHead .pp {
  height: 30px;
  width: 30px;
  background-color: red;
  border-radius: 50%;
}

.loginpage {
  position: relative;
  width: 100vw;
  min-height: 100vh;
}
.loginpage .login-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signpage {
  position: relative;
  width: 100vw;
  min-height: 100vh;
}
.signpage .sign-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 100%;
  height: 100px;
  display: grid;
  place-items: center;
}

.tweetReply {
  position: absolute;
  transform: translateX(50%);
  min-height: 100vh;
  width: 50vw;
  background-color: rgb(0, 255, 26);
}

.profilpage {
  position: absolute;
  transform: translateX(50%);
  min-height: 100vh;
  height: 100%;
  width: 50vw;
  background-color: rgb(159, 177, 19);
}
.profilpage .header {
  width: 100%;
  height: 400px;
  background-color: rgb(204, 193, 193);
  display: flex;
  flex-direction: column;
}
.profilpage .header .banner {
  width: 100%;
  display: grid;
  place-items: center;
  height: 100%;
}
.profilpage .header .banner .pp {
  height: 100px;
  width: 100px;
  background-color: black;
  border-radius: 50%;
}
.profilpage .header .info {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.profilpage .header .info .perso {
  width: 90%;
}
.profilpage .header .info .post {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatCard {
  position: fixed;
  right: 0;
  width: 50vw;
  height: 100vh;
  background-color: violet;
}
.chatCard .chathead {
  width: 100%;
  height: 10%;
  background-color: rgb(169, 191, 169);
  display: flex;
  align-items: center;
}
.chatCard .chathead .pp-chat {
  height: 30px;
  width: 30px;
  background-color: black;
  border-radius: 50%;
}
.chatCard .the-chat {
  min-height: 100vh;
  height: 10px;
  width: 100%;
  background-color: rgb(139, 123, 123);
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}
.chatCard .the-chat .chatBox {
  width: 300px;
  height: 50px;
  border: 1px solid black;
}

.right-chat {
  float: right;
}

.left-chat {
  float: left;
}

.chatAuthorCard {
  background-color: brown;
  height: 100vh;
  width: 30vw;
  position: fixed;
  left: 20%;
}
.chatAuthorCard .vosMP {
  background-color: red;
  width: 100%;
  height: 10%;
  display: grid;
  place-items: center;
}
.chatAuthorCard .author {
  width: 100%;
  background-color: green;
  min-height: 90vh;
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
}
.chatAuthorCard .author div {
  height: 200px;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
}

/*# sourceMappingURL=app.css.map */
