@font-face {
  font-family: "first";
  src: url("/src/font/ABeeZee-Regular.ttf");
}
.left {
  background-color: #ffffff;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  min-height: 100vh;
  height: 100%;
  width: 20vw;
  position: fixed;
  left: 0;
  display: grid;
  place-items: center;
  font-family: "first";
  z-index: 2;
}
.left .left-sous {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.left .left-sous .logo svg {
  height: 60%;
}
.left .left-sous .logo svg .cls-1 {
  fill: #051923;
}
.left .left-sous .logo svg .cls-2 {
  fill: #000814;
}
.left .left-sous .logo svg .cls-3 {
  fill: #89c2d9;
}
.left .left-sous .logo svg .cls-4 {
  fill: #a9d6e5;
}
.left .left-sous .logo svg .cls-5 {
  fill: #468faf;
}
.left .left-sous .logo svg .cls-6 {
  fill: #fff;
  opacity: 0.3;
}
.left .left-sous .explo-mess {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 30%;
}
.left .left-sous .explo-mess button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  cursor: pointer;
  color: white;
  background-color: #3423A6;
}
.left .left-sous .explo-mess button.classic-button {
  border: none;
  background: none;
  color: #3423A6;
  font-size: 14px;
}
.left .left-sous .left-bottom {
  position: relative;
  width: 100%;
}
.left .left-sous .left-bottom .sous {
  width: 100%;
  height: 100%;
}
.left .left-sous .left-bottom .sous .logSign {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  justify-content: space-between;
}
.left .left-sous .left-bottom .sous .logSign a #signBut {
  border: 2.5px solid #7180B9;
  color: #7180B9;
  width: 150px;
  height: 45px;
  outline: none;
  cursor: pointer;
  transition: 200ms;
  border-radius: 12px;
  background: none;
  font-weight: bold;
}
@media screen and (max-width: 1000px) {
  .left .left-sous .left-bottom .sous .logSign a #signBut {
    width: 130px;
    height: 40px;
  }
}
@media screen and (max-width: 850px) {
  .left .left-sous .left-bottom .sous .logSign a #signBut {
    width: 115px;
    height: 35px;
  }
}
.left .left-sous .left-bottom .sous .logSign a #logBut {
  border: 2.5px solid #171738;
  color: #171738;
  width: 150px;
  height: 45px;
  outline: none;
  cursor: pointer;
  transition: 200ms;
  border-radius: 12px;
  background: none;
  font-weight: bold;
}
@media screen and (max-width: 1000px) {
  .left .left-sous .left-bottom .sous .logSign a #logBut {
    width: 130px;
    height: 40px;
  }
}
@media screen and (max-width: 850px) {
  .left .left-sous .left-bottom .sous .logSign a #logBut {
    width: 115px;
    height: 35px;
  }
}
.left .left-sous .left-bottom .sous .profil {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left .left-sous .left-bottom .sous .profil .user-profil {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-align: center;
}
.left .left-sous .left-bottom .sous .profil .user-profil .photo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  background-size: cover;
}
.left .left-sous .left-bottom .sous .profil .user-profil p {
  color: #7180B9;
}
.left .left-sous .left-bottom .sous .profil .logout button {
  border: 2.5px solid red;
  color: red;
  width: 150px;
  height: 45px;
  outline: none;
  cursor: pointer;
  transition: 200ms;
  border-radius: 12px;
  background: none;
  font-weight: bold;
}
@media screen and (max-width: 1000px) {
  .left .left-sous .left-bottom .sous .profil .logout button {
    width: 130px;
    height: 40px;
  }
}
@media screen and (max-width: 850px) {
  .left .left-sous .left-bottom .sous .profil .logout button {
    width: 115px;
    height: 35px;
  }
}

.right {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  min-height: 100vh;
  width: 20vw;
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right .tendance {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  width: 100%;
  color: rgb(0, 0, 0);
}
.right .tendance .tend-head {
  width: 100%;
  display: grid;
  place-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: bold;
}
.right .tendance .tend-card {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right .tendance .tend-card .user-search {
  height: 50px;
  display: grid;
  place-items: center;
  width: 75%;
}
.right .tendance .tend-card .user-search input {
  width: 100%;
  border: none;
  outline: none;
  padding: 7px;
  border-radius: 10px;
  background-color: #F0F0F0;
}
.right .tendance .tend-card .user-search-result {
  position: absolute;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 1px;
  min-height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right .tendance .tend-card .user-search-result a {
  width: 100%;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  color: #171738;
}
.right .tendance .tend-card .user-search-result a .user-search-div {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.right .tendance .tend-card .user-search-result a .user-search-div .user-search-pp {
  flex: 1;
  display: grid;
  place-items: center;
}
.right .tendance .tend-card .user-search-result a .user-search-div .user-search-pp .the-fameuse-pp {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  background-size: cover;
}
.right .tendance .tend-card .user-search-result a .user-search-div .user-search-name {
  display: grid;
  place-items: center;
  flex: 2;
}
.right .sugg {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  height: 50vh;
  width: 100%;
  color: #171738;
}
.right .sugg .sugg-head {
  text-align: center;
  font-weight: bold;
}
.right .sugg .sugg-render {
  margin-top: 50px;
  height: 1px;
  min-height: 300px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.right .sugg .sugg-render .suggFalse {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.right .sugg .sugg-render .suggFalse div {
  font-size: 12px;
}
.right .sugg .sugg-render .suggTrue {
  width: 100%;
  height: 100%;
}
.right .sugg .sugg-render .suggTrue .rand-user {
  width: 100%;
  height: 75px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
}
.right .sugg .sugg-render .suggTrue .rand-user a {
  flex: 1;
  height: 100%;
  display: grid;
  place-items: center;
}
.right .sugg .sugg-render .suggTrue .rand-user a .rand-user-left .rand-user-pp {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  background-size: cover;
}
.right .sugg .sugg-render .suggTrue .rand-user .rand-user-center {
  display: grid;
  place-items: center;
  flex: 2;
  height: 100%;
}
.right .sugg .sugg-render .suggTrue .rand-user .rand-user-right {
  display: grid;
  place-items: center;
  flex: 1;
  height: 100%;
  color: #7180B9;
  font-size: 20px;
}

.homepage {
  position: absolute;
  transform: translateX(33.3%);
  min-height: 100vh;
  width: 60vw;
}

.tweet {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.tweet .tweet-anwser {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  color: #7180B9;
  transform: translate(25%, 50%);
}
.tweet .tweet-anwser span {
  color: #171738;
}
.tweet .other-actions {
  position: absolute;
  right: 5%;
  top: 2%;
}
.tweet .other-actions svg {
  cursor: pointer;
  font-size: 25px;
}
.tweet .tweet-center {
  width: 70%;
  height: 100%;
}
.tweet .tweet-center .tweetHead {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0.2;
  width: 100%;
}
.tweet .tweet-center .tweetHead .pp {
  height: 75px;
  width: 75px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.tweet .tweet-center .tweetBody {
  flex: 2;
  width: 100%;
  height: 100%;
}
.tweet .tweet-center .tweetBody .content {
  margin-top: 50px;
}
.tweet .tweet-center .tweetBody .tweet-picture {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 250px;
  margin-top: 25px;
  border-radius: 10px;
}
.tweet .tweet-center .tweetBody .tweet-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
}
.tweet .tweet-center .tweetBody .tweet-actions svg {
  font-size: 20px;
  cursor: pointer;
}
.tweet .tweet-center .tweetBody .tweet-actions div {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.tweet .tweet-center .tweetBody .tweet-actions div svg {
  font-size: 20px;
}
.tweet .tweet-center .tweetBody .tweet-actions .liked {
  color: red;
}

@font-face {
  font-family: "font";
  src: url("../font/ABeeZee-Regular.ttf");
}
.loginpage {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background-color: #171738;
}
.loginpage .login-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  min-height: 500px;
  background-color: #ffffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginpage .login-card .login-card {
  width: 100%;
  display: grid;
  place-items: center;
}
.loginpage .login-card .login-field {
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.loginpage .login-card .login-field .field {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.loginpage .login-card .login-field .field label {
  color: #7180B9;
  margin-top: 20px;
}
.loginpage .login-card .login-field .field input {
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 15px;
  background-color: #F0F0F0;
}
.loginpage .login-card .login-button {
  display: grid;
  place-items: center;
  margin-top: 20px;
}
.loginpage .login-card .login-button button {
  cursor: pointer;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 7px;
  background-color: #3423A6;
  transition: 200ms;
  color: #ffffff;
}
.loginpage .login-card .login-button button:hover {
  background-color: #2E1760;
}
.loginpage .login-card .login-error-type {
  color: red;
}

@font-face {
  font-family: "font";
  src: url("../font/ABeeZee-Regular.ttf");
}
.signpage {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background-color: #171738;
}
.signpage .sign-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: #ffffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signpage .sign-card .sign-head {
  width: 100%;
  display: grid;
  place-items: center;
}
.signpage .sign-card .sign-field {
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.signpage .sign-card .sign-field .field {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.signpage .sign-card .sign-field .field label {
  color: #7180B9;
  margin-top: 20px;
}
.signpage .sign-card .sign-field .field input {
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 15px;
  background-color: #F0F0F0;
}
.signpage .sign-card .sign-field .field .good {
  color: green;
}
.signpage .sign-card .sign-field .field .error {
  color: red;
}
.signpage .sign-card .sign-button {
  display: grid;
  place-items: center;
  margin-top: 20px;
}
.signpage .sign-card .sign-button button {
  cursor: pointer;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 7px;
  background-color: #3423A6;
  transition: 200ms;
  color: #ffffff;
}
.signpage .sign-card .sign-button button:hover {
  background-color: #2E1760;
}

.logo {
  width: 100%;
  height: 100px;
  display: grid;
  place-items: center;
}
.logo svg {
  width: 100%;
  height: 100%;
}

.tweetReply {
  position: absolute;
  transform: translateX(33.3%);
  min-height: 100vh;
  width: 60vw;
}
.tweetReply .replied {
  position: relative;
  padding-top: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
}
.tweetReply .replied .answer {
  position: absolute;
  top: 0;
  left: 0;
}
.tweetReply .replied .replied-sous {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 100%;
}
.tweetReply .replied .replied-sous a {
  text-decoration: none;
}
.tweetReply .replied .replied-sous a .replied-head {
  flex: 0.3;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tweetReply .replied .replied-sous a .replied-head .replied-head-pp .the-head-replied-pp {
  height: 75px;
  width: 75px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.tweetReply .replied .replied-sous .replied-body {
  flex: 2;
}
.tweetReply .replied .replied-sous .replied-body .replied-content {
  padding-bottom: 25px;
}
.tweetReply .replied .replied-sous .replied-body .replied-img {
  height: 100px;
  width: 100%;
  background-color: grey;
}
.tweetReply .replied .replied-sous .replied-body .replied-actions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 30px;
}
.tweetReply .replied .replied-sous .replied-actions div {
  cursor: pointer;
}
.tweetReply .replied .replied-sous .replied-actions div svg {
  font-size: 25px;
}
.tweetReply .reply {
  display: grid;
  place-items: center;
  width: 100%;
  height: 40vh;
}

.profilpage {
  position: absolute;
  transform: translateX(33.3%);
  min-height: 100vh;
  height: 100%;
  width: 60vw;
}
.profilpage .header {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.profilpage .header .banner {
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  height: 100%;
}
.profilpage .header .banner .banner-wallpaper {
  background-color: #2E1760;
  border-radius: 15px;
  width: 95%;
  height: 90%;
  display: grid;
  place-items: center;
}
.profilpage .header .banner .banner-wallpaper .pp {
  height: 100px;
  width: 100px;
  border: 7px solid #ffffff;
  border-radius: 50%;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
}
.profilpage .header .info {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.profilpage .header .info .perso {
  position: relative;
  width: 90%;
}
.profilpage .header .info .perso .foll-ering {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
}
.profilpage .header .info .perso .foll-ering a {
  text-decoration: none;
  color: #3423A6;
  font-weight: bolder;
}
.profilpage .header .info .perso #isFollow {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  border-radius: 5px;
  width: 120px;
  height: 30px;
  cursor: pointer;
  color: white;
  background-color: #3423A6;
}
.profilpage .header .info .perso #pseudo {
  font-size: 30px;
  color: #7180B9;
  margin: 0;
}
.profilpage .header .info .perso span {
  color: #2E1760;
  font-weight: bold;
}
.profilpage .header .info .post {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profilpage .header .info .post button {
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  cursor: pointer;
  color: white;
  background-color: #3423A6;
}
.profilpage .userTweet {
  width: 100%;
  height: 50%;
}
.profilpage .userTweet .tweetVide {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  color: #171738;
}

.chatCard {
  position: fixed;
  right: 0;
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chatCard .chathead {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.chatCard .chathead .pp-chat {
  flex: 1;
  display: grid;
  place-items: center;
}
.chatCard .chathead .pp-chat .the-chat-pp {
  height: 50px;
  width: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}
.chatCard .chathead p {
  flex: 2;
}
.chatCard .the-chat {
  min-height: 80vh;
  height: 10px;
  width: 80%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}
.chatCard .the-chat .chat-box-general {
  margin-top: 30px;
  margin-bottom: 30px;
}
.chatCard .the-chat .chat-box-general .chatBox {
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 3%;
  padding-bottom: 3%;
  min-width: 5%;
  max-width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chatCard .the-chat .chat-box-general .chatBox .chatbox-interieur {
  display: grid;
  place-items: center;
  word-wrap: break-word;
  width: 90%;
}
.chatCard .mpForm {
  position: relative;
  display: grid;
  place-items: center;
  width: 80%;
  height: 10%;
}
.chatCard .mpForm svg {
  position: absolute;
  right: 5%;
  transform: translateX(-75%);
  cursor: pointer;
}
.chatCard .mpForm input {
  background-color: #F0F0F0;
  width: 90%;
  border-radius: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  outline: none;
  border: none;
  color: #171738;
}

.right-chat {
  float: right;
  color: black;
  background-color: #D9D9D9;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 75px;
}

.left-chat {
  float: left;
  background-color: #3423A6;
  color: #ffffff;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 75px;
}

.chatAuthorCard {
  height: 100vh;
  width: 30vw;
  position: fixed;
  left: 20%;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.chatAuthorCard .vosMP {
  width: 100%;
  height: 10%;
  display: grid;
  place-items: center;
}
.chatAuthorCard .author {
  width: 100%;
  min-height: 90vh;
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chatAuthorCard .author a {
  text-decoration: none;
  width: 85%;
}
.chatAuthorCard .author a .chat-author-div {
  display: flex;
  align-items: center;
  height: 75px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.chatAuthorCard .author a .chat-author-div .author-left {
  display: grid;
  place-items: center;
  flex: 1;
}
.chatAuthorCard .author a .chat-author-div .author-left .author-chat-pp {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}
.chatAuthorCard .author a .chat-author-div .author-right {
  flex: 2;
  color: black;
}

.tweet-filtre {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 2;
}
.tweet-filtre .tweet-form {
  height: 250px;
  width: 500px;
  background-color: #ffffff;
  border-radius: 17px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tweet-filtre .tweet-form .tweet-head {
  flex: 0.5;
  width: 100%;
  position: relative;
  display: grid;
  place-items: center;
}
.tweet-filtre .tweet-form .tweet-head .tweet-head-sous {
  display: flex;
  align-items: center;
  width: 90%;
}
.tweet-filtre .tweet-form .tweet-head .tweet-head-sous .tweetformquit {
  border: none;
  background: none;
  font-size: 20px;
  color: #7180B9;
  cursor: pointer;
}
.tweet-filtre .tweet-form .tweet-head .tweet-head-sous p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.tweet-filtre .tweet-form .tweet-body {
  flex: 2;
  position: relative;
  width: 100%;
  background-color: #ffffff;
  display: flex;
}
.tweet-filtre .tweet-form .tweet-body .tweet-body-pp {
  flex: 0.25;
  padding: 20px;
}
.tweet-filtre .tweet-form .tweet-body .tweet-body-pp .pp {
  float: right;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  background-size: cover;
}
.tweet-filtre .tweet-form .tweet-body .tweet-body-content {
  flex: 2;
  padding-top: 20px;
}
.tweet-filtre .tweet-form .tweet-body .tweet-body-content textarea {
  width: 90%;
  height: 95%;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
}
.tweet-filtre .tweet-form-valid {
  position: relative;
  display: grid;
  place-items: center;
  flex: 0.5;
  width: 75%;
}
.tweet-filtre .tweet-form-valid button {
  border: none;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  cursor: pointer;
  color: white;
  background-color: #3423A6;
}
.tweet-filtre .tweet-form-valid .nbr-char {
  position: absolute;
  right: 0;
}
.tweet-filtre .tweet-form-valid .nbr-char.green {
  color: green;
}
.tweet-filtre .tweet-form-valid .nbr-char.yellow {
  color: yellow;
}
.tweet-filtre .tweet-form-valid .nbr-char.orange {
  color: orange;
}
.tweet-filtre .tweet-form-valid .nbr-char.red {
  color: red;
}

.follower-component {
  position: absolute;
  transform: translateX(33.3%);
  min-height: 100vh;
  height: 100%;
  width: 60vw;
}
.follower-component .follower-component-head {
  width: 100%;
  height: 100px;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: fixed;
}
.follower-component .follower-component-head a {
  flex: 1;
  height: 100%;
  display: grid;
  place-items: center;
}
.follower-component .follower-component-body {
  margin-top: 100px;
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.follower-component .follower-component-body .foll-user-div {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
}
.follower-component .follower-component-body .foll-user-div a {
  flex: 2;
  width: 100%;
  display: flex;
}
.follower-component .follower-component-body .foll-user-div a .foll-pp {
  display: grid;
  place-items: center;
  flex: 1;
}
.follower-component .follower-component-body .foll-user-div a .foll-pp .the-foll-pp {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  background-size: cover;
}
.follower-component .follower-component-body .foll-user-div a .foll-center {
  display: flex;
  align-items: center;
  flex: 2;
}
.follower-component .follower-component-body .foll-user-div .foll-isfollow {
  flex: 1;
  display: grid;
  place-items: center;
}

.following-component {
  position: absolute;
  transform: translateX(33.3%);
  min-height: 100vh;
  height: 100%;
  width: 60vw;
}
.following-component .following-component-head {
  width: 100%;
  height: 100px;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: fixed;
}
.following-component .following-component-head a {
  flex: 1;
  height: 100%;
  display: grid;
  place-items: center;
}
.following-component .following-component-body {
  margin-top: 100px;
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.following-component .following-component-body .foll-user-div {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
}
.following-component .following-component-body .foll-user-div a {
  flex: 2;
  width: 100%;
  display: flex;
}
.following-component .following-component-body .foll-user-div a .foll-pp {
  display: grid;
  place-items: center;
  flex: 1;
}
.following-component .following-component-body .foll-user-div a .foll-pp .the-foll-pp {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  background-size: cover;
}
.following-component .following-component-body .foll-user-div a .foll-center {
  display: flex;
  align-items: center;
  flex: 2;
}
.following-component .following-component-body .foll-user-div .foll-isfollow {
  flex: 1;
  display: grid;
  place-items: center;
}

.modal {
  position: fixed;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transform: translate(-105%, 10%);
  border-radius: 10px;
}
.modal .sous-modal {
  height: 100%;
  display: grid;
  place-items: center;
  word-wrap: break-word;
  padding: 20px;
}
.modal .sous-modal button {
  background-color: red;
  color: #F0F0F0;
  border: none;
  outline: none;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
}

.modal-ich {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.edit-modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1001;
  width: 500px;
  height: 70vh;
  background-color: #DFF3E4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}
.edit-modal .edit-modal-head {
  position: relative;
  width: 90%;
  height: 50px;
}
.edit-modal .edit-modal-head #close-edit {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 20px;
}
.edit-modal .edit-modal-head #save {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: #2E1760;
  color: white;
  padding: 7px;
}
.edit-modal .edit-modal-head p {
  text-align: center;
}
.edit-modal .edit-modal-body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.edit-modal .edit-modal-body .change {
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: grey;
}
.edit-modal .edit-modal-body .change.change-pseudo input {
  outline: none;
  border: none;
  background: none;
  padding: 10px;
}
.edit-modal .edit-modal-body .change.change-bio textarea {
  outline: none;
  border: none;
  background: none;
  padding: 10px;
  min-height: 300px;
  max-height: 300px;
  min-width: 95%;
  max-width: 95%;
}
.edit-modal .edit-modal-body .change.change-pp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 200px;
}
.edit-modal .edit-modal-body .change.change-pp .user-pp-img {
  width: 75px;
  height: 75px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.modal-ich-ich {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.4;
  top: 0;
  z-index: 1000;
}

@font-face {
  font-family: "first";
  src: url("/src/font/ABeeZee-Regular.ttf");
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: #ffffff;
  font-family: "first";
}

/*# sourceMappingURL=app.css.map */
